<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.FileMapper">
    <resultMap id="file" type="com.pojo.file">
        <result property="id" column="id"/>
        <result property="username" column="name"/>
        <result property="password" column="upload_time"/>
    </resultMap>

    <insert id="insert">
      INSERT INTO file(name) VALUE(#{pojo.name})
    </insert>

</mapper>